@inject StudentServices StudentServices


<Col Span="6">
<Text>Tìm kiếm MSSV</Text>
<Select DataSource="@(Data.Select(c=>c.StudentCode).ToList())"
        @bind-Value="@value"
        SortByLabel="@SortDirection.Ascending"
        Placeholder="Tìm MSSV:"
        OnSelectedItemChanged="OnSearch"
        OnClearSelected="Reload"
        EnableSearch
        AllowClear>
</Select>
    </Col>
<Col>
<Button OnClick="Reload">Reload</Button>
    </Col>
<Table DataSource="Data"
       @bind-PageSize="pageSize">
    <Selection Key="@(context.Id.ToString())" />
    <Column Title="Ngày Đăng kí" @bind-Field="@context.CreateAt" Format="dd-MM-yyyy | HH:mm" Sortable />
    <Column Title="Họ và tên" @bind-Field="@context.FullName" Sortable />
    <Column Title="Giới tính" @bind-Field="@context.Gender" Sortable />
    <Column Title="MSSV" @bind-Field="@context.StudentCode" Sortable />
    <Column Title="Khóa học" @bind-Field="@context.Course" Sortable />
    <Column Title="Khoa" @bind-Field="@context.Department" Sortable />
    <Column Title="SĐT" @bind-Field="@context.PhoneNumeber" Sortable />
    <ActionColumn Title="Action">
        <Space>
            <SpaceItem><Button Type="@ButtonType.Primary" Color="Color.Green5" OnClick="()=>Ok(context.Id)">Duyệt</Button></SpaceItem>
            <SpaceItem><Button Danger OnClick="()=>Delete(context.Id)">Xóa</Button></SpaceItem>
        </Space>
    </ActionColumn>
</Table>
@code {
    public List<Students> Data { get; set; }

    private string value;
    private int pageSize = 5;
    private void Ok(int id)
    {
        Students students = Data.Find(c => c.Id == id);
        students.IsConfirm = true;
        StudentServices.Confirm(students);
        Reload();
    }
    protected override void OnInitialized()
    {
        Data = StudentServices.GetAll().Where(c => c.IsConfirm == false).ToList();
    }

    private void Delete(int id)
    {
        Data.Remove(Data.Where(c => c.Id == id).FirstOrDefault());
        StudentServices.Delete(id);
        Reload();
    }
    private void Reload()
    {
        Data = StudentServices.GetAll().Where(c => c.IsConfirm == false).ToList();
        value = null;
    }
    private void OnSearch(string e)
    {
        Data = Data.Where(c => c.StudentCode == e).ToList();
    }
}