@inject StudentServices StudentServices


<Col Span="6">
<Text>Tìm kiếm MSSV</Text>
<Select DataSource="@(Data.Where(c=>c.IsConfirm == false).Select(c=>c.StudentCode).ToList())"
        @bind-Value="@value"
        SortByLabel="@SortDirection.Ascending"
        Placeholder="Tìm MSSV:"
        OnSelectedItemChanged="OnSearch"
        OnClearSelected="Reload"
        EnableSearch
        AllowClear>
</Select>
    </Col>
<Table DataSource="Data.Where(c=>c.IsConfirm == false)"
       @bind-PageSize="pageSize">
    <Selection Key="@(context.Id.ToString())" />
    <Column Title="Ngày Đăng kí" @bind-Field="@context.CreateAt" Format="dd-MM-yyyy | HH:mm" Sortable />
    <Column Title="Họ và tên" @bind-Field="@context.FullName" Sortable />
    <Column Title="Giới tính" @bind-Field="@context.Gender" Sortable />
    <Column Title="MSSV" @bind-Field="@context.StudentCode" Sortable />
    <Column Title="Email" @bind-Field="@context.Email" Sortable />
    <Column Title="Khóa học" @bind-Field="@context.Course" Sortable />
    <Column Title="Khoa" @bind-Field="@context.Department" Sortable />
    <Column Title="SĐT" @bind-Field="@context.PhoneNumeber" Sortable />
    <ActionColumn Title="Action">
        <Space>
            <SpaceItem><Button Type="@ButtonType.Primary" Color="Color.Green5" OnClick="()=>Ok(context.Id)">Duyệt</Button></SpaceItem>
            <SpaceItem><Button Danger OnClick="()=>Delete(context.Id)">Xóa</Button></SpaceItem>
        </Space>
    </ActionColumn>
</Table>
@code {
    [Parameter] public List<Students> Students { get; set; }
    [Parameter] public Students[] Data { get; set; }
    [Parameter] public Room[] Rooms { get; set; }

    private string value;
    private string value2;
    private int pageSize = 5;
    private void Ok(int id)
    {
        Students students = Students.Find(c => c.Id == id);
        students.IsConfirm = true;
        StudentServices.Confirm(students);
        Reload();
    }

    private void Delete(int id)
    {
        StudentServices.Delete(id);
        Reload();
    }
    private void Reload()
    {
        Students = StudentServices.GetAll();
        Data = Students.Where(c => c.IsConfirm == false).ToArray();
    }
    private void OnSearch(string e)
    {
        Data = Students.Where(c => c.IsConfirm == false).ToArray();
        Data = Data.Where(c => c.StudentCode == e).ToArray();
    }
}