@page "/dang-ky"
@inject StudentServices StudentServices
@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;
<PageTitle>Đăng ký kí túc xá</PageTitle>


<Row Justify="left" Style="margin-bottom: 10vh; margin-top:10vh">
    <Col Span="20" Offset="0">
    <Form Model="@students"
          OnFinish="OnFinish"
          LabelColSpan="8"
          WrapperColSpan="16"
          OnFinishFailed="OnFinishFailed"
          Size="AntSizeLDSType.Small">
        <Row Justify="center" Gutter="8">
            <Col Span="16" Offset="8">

            <FormItem>
                <Title Level="4">Điền vào form đăng ký này BQT sẽ xem xét và duyệt sớm nhất có thể</Title>
            </FormItem>
            </Col>
        </Row>
            @if (isSucess)
            {
            <Row Justify="center" Style="margin-top:1em">
                <FormItem>
                    <Alert Message="@notice" Type="@type" CloseText="x" Closable Style="width:500px" />
                </FormItem>
            </Row>
            }
            else
            {
            <FormItem></FormItem>
            }
        <FormItem>
            <Row>
                <Col Span="7">
                <Input @bind-Value="context.FullName" Placeholder="Họ và tên"></Input>
                </Col>
                <br />
                <Col Offset="2">
                <RadioGroup @bind-Value="gender" DefaultValue="true">
                    <Radio Value="true">Nam</Radio>
                    <Radio Value="false">Nữ</Radio>
                </RadioGroup>
                </Col>
            </Row>
        </FormItem>
        <FormItem>
            <Row>
                <Col Span="7">
                <Input @bind-Value="context.StudentCode" Placeholder="Mã số sinh viên"></Input>
                </Col>
                <Col Span="4" Offset="2">
                <Select @bind-Value="@context.Course" TItem="string" TItemValue="string" Placeholder="Khóa học">
                    <SelectOptions>
                                @foreach (var item in _course)
                                {
                            <SelectOption TItemValue="string" TItem="string" Value=@item Label=@item />
                                }
                    </SelectOptions>
                </Select>
                </Col>
            </Row>
        </FormItem>
        <FormItem>

            <Row>
                <Col Span="7">
                <Input @bind-Value="context.Email" Placeholder="Email trường cấp" Type="email"></Input>
                </Col>
                <Col Offset="2">
                <AutoComplete @bind-Value="context.Department" Options="@_department.Distinct()" Placeholder="Khoa" />
                </Col>
            </Row>
        </FormItem>
        <FormItem>
            <Row>
                <Col Span="7">
                <Input @bind-Value="context.PhoneNumeber" Placeholder="Số điện thoại"></Input>
                </Col>
                <Col Offset="2">
                <DatePicker @bind-Value="dateTime" Format="dd/MM/yyyy" />
                </Col>
            </Row>
        </FormItem>
        <FormItem>
            <Row>
                <Col Span="15">
                <Input @bind-Value="context.PermanentAddress" Placeholder="Địa chỉ: 69 Đặng thùy trâm,..."></Input>
                </Col>
            </Row>
        </FormItem>
        <FormItem WrapperColOffset="13" WrapperColSpan="4">
            <Button Type="@ButtonType.Primary" HtmlType="submit">
                Đăng ký
            </Button>
        </FormItem>
    </Form>
    </Col>
</Row>
@code {
    bool isSucess = false;
    string notice;
    string type;
    bool gender = true;
    DateTime dateTime = new DateTime(2005, 1, 1);

    List<string> _course = new() { "K23", "K24", "K25", "K26", "K27", "K28" };
    List<string> _department = new() { "Công nghệ thông tin", "Khoa học dữ liệu", "Công nghệ kỹ thuật ô tô", "Thiết kế đồ họa", "Thanh nhạc", "Piano", "Thiết kế công nghiệp", "Thiết kế thời trang", "Diễn viên kịch, điện ảnh - truyền hình", "Đạo diễn điện ảnh, truyền hình", "Ngôn ngữ Anh", "Ngôn ngữ Trung Quốc", "Văn học", "Tâm lý học", "Đông phương học", "Quan hệ công chúng", "Quản trị kinh doanh", "Marketing", "Bất động sản", "Kinh doanh thương mại", "Tài chính - Ngân hàng", "Kế toán", "Luật kinh tế", "Luật", "Công nghệ sinh học", "Công nghệ sinh học y dược", "Quản trị công nghệ sinh học", "Kỹ thuật phần mềm", "Công nghệ kỹ thuật điện, điện tử", "Công nghệ kỹ thuật môi trường", "Logistics và quản lý chuỗi cung ứng", "Quản trị môi trường doanh nghiệp", "Kỹ thuật cơ điện tử", "Kỹ thuật nhiệt", "Công nghệ thực phẩm", "Kiến trúc", "Thiết kế nội thất", "Kỹ thuật xây dựng", "Kỹ thuật xây dựng công trình giao thông", "Quản lý xây dựng", "Thiết kế xanh", "Nông nghiệp công nghệ cao", "Dược học", "Điều dưỡng", "Răng - Hàm - Mặt", "Kỹ thuật xét nghiệm y học", "Công tác xã hội", "Quản trị dịch vụ du lịch và lữ hành", "Quản trị khách sạn", "Quản trị nhà hàng và dịch vụ ăn uống" };
    Students students = new();
    private async Task OnFinish(EditContext editContext)
    {
        if (isSucess == false)
        {
            isSucess = true;
            await OnSubmit(editContext);
        }
        else
        {
            await OnSubmit(editContext);
        }
    }
    private void OnFinishFailed(EditContext editContext)
    {
        isSucess = true;
        notice = "Đăng kí không thành công";
        type = "error";

    }
    private async Task OnSubmit(EditContext editContext)
    {
        notice = "Đăng kí thành công";
        type = "success";
        students.Gender = gender == true ? "Nam" : "Nữ";
        students.BirthDay = dateTime;
        students.CreateAt = DateTime.Now;
        await StudentServices.AddAsync(students);
        students = new();
    }
}