@page "/quan-ly"
@inject StudentServices StudentServices
@inject RoomServices RoomServices
@using Microsoft.AspNetCore.Authorization
@using vlu_dorm.Pages.Admin.TableComponent
@using vlu_dorm.Pages.Admin.Modals
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Quản lý</PageTitle>
<Row Style="margin: 3em;">
    <Button Style="color: #000;  background-color: #05AC48;" Type="primary" Class="btn-admin" OnClick="@ShowModal">Quản lý đăng ký nội trú</Button>
    <Modal Title="@("Duyệt đăng kí kí túc xá")"
           Visible="@visible"
           OnOk="@HandleOk"
           OnCancel="@HandleCancel"
           MaxBodyHeight="@("60vh")"
           Width="1200">
        <SubscriptionManagement Data="data" Students="_student" Rooms="rooms" />
    </Modal>

    <Button Style="color: #000;  background-color: #05AC48;" Type="primary" Class="btn-admin" OnClick="@ShowModalRoom">Thêm phòng</Button>
    <Modal Title="@("Thêm Phòng")"
           Visible="@visibleRoom"
           OnOk="@HandleOk"
           OnCancel="@HandleCancel"
           MaxBodyHeight="@("60vh")"
           Width="900">
        <RoomManager Room="room" isNew="isNew" />
    </Modal>

    <Button Style="color: #000;  background-color: #05AC48;" OnClick="@ShowModalElc" Danger Class="btn-admin">Quản lý điện, nước</Button>
    <Modal Title="@("Điện nước theo phòng")"
           Visible="@visibleElectric"
           OnOk="@HandleOk"
           OnCancel="@HandleCancel"
           MaxBodyHeight="@("60vh")"
           Width="900">
        <WaterElectricManager />
    </Modal>
</Row>
<Row Style="align-items: flex-end">
    <Col Span="6" Offset="1">
    <Text>Tìm kiếm MSSV</Text>
    <Select DataSource="@(data.Where(c=>c.IsConfirm == true).Select(c=>c.StudentCode).ToList())"
            @bind-Value="@value"
            SortByLabel="@SortDirection.Ascending"
            Placeholder="Tìm MSSV:"
            OnSelectedItemChanged="OnSearch"
            OnClearSelected="Reload"
            EnableSearch
            AllowClear>
    </Select>
    </Col>
    <Col Offset="1">
    <Button Icon="@IconType.Outline.Reload" OnClick="Reload"></Button>
    </Col>
</Row>
<Row Style="margin-top: 5em;">
    <Col Offset="1">
    <TableView Data="data" />
    </Col>
    <Col Offset="1">
    <TableRoomView Rooms="rooms" />
    </Col>
</Row>
@code {
    List<Students> _student;
    Students[] data;
    Room[] rooms;
    Room room = new();
    private bool visible = false;
    private bool visibleRoom = false;
    private bool visibleElectric = false;
    private bool isNew = true;
    private string value;

    private void ShowModal() => visible = true;

    private void ShowModalRoom() { visibleRoom = true; isNew = true; }
    private void ShowModalElc() => visibleElectric = true;


    private void Reload()
    {
        _student = StudentServices.GetAll();
        data = _student.Where(c => c.IsConfirm == true).ToArray();
        rooms = RoomServices.GetAll().ToArray();
    }
    private void OnSearch(string e)
    {
        data = data.Where(c => c.StudentCode == e).ToArray();
    }

    private void HandleOk(MouseEventArgs e)
    {
        Reload();
        visibleRoom = false;
        visible = false;
        visibleElectric = false;
    }

    private void HandleCancel(MouseEventArgs e)
    {
        Reload();
        visibleRoom = false;
        visible = false;
        visibleElectric = false;
    }
    protected override void OnInitialized()
    {
        _student = StudentServices.GetAll();
        data = _student.ToArray();
        rooms = RoomServices.GetAll().ToArray();
    }
}