@page "/quan-ly"
@inject ModalService ModalService
@inject StudentServices StudentServices

@using Microsoft.AspNetCore.Authorization
@using vlu_dorm.Pages.Admin.Components
@using vlu_dorm.Pages.Admin.Modals
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Quản lý</PageTitle>
<Row Style="margin: 3em;">
    <Button Style="color: #000;  background-color: #05AC48;" Type="primary" Class="btn-admin" OnClick="@ShowModal">Quản lý đăng ký nội trú</Button>
    <Modal Title="@("Duyệt đăng kí kí túc xá")"
           Visible="@visible"
           OnOk="@HandleOk"
           OnCancel="@HandleCancel"
           MaxBodyHeight="@("60vh")"
           Width="1200">
        <SubscriptionManagement Data="data" Students="_student" />
    </Modal>

    <Button Style="color: #000;  background-color: #05AC48;" Type="primary" Class="btn-admin">Quản lý phòng</Button>
    <Button Style="color: #000;  background-color: #05AC48;" Danger Class="btn-admin">Quản lý dịch vụ sử dụng</Button>
    <Button Style="color: #000;  background-color: #05AC48;" Danger Class="btn-admin">Quản lý tuân thủ các nội quy</Button>
    <Button Style="color: #000;  background-color: #05AC48;" Danger Class="btn-admin">Quản lý điện, nước</Button>
</Row>
<Row Style="align-items: flex-end">
    <Col Span="6" Offset="1">
    <Text>Tìm kiếm MSSV</Text>
    <Select DataSource="@(data.Where(c=>c.IsConfirm == true).Select(c=>c.StudentCode).ToList())"
            @bind-Value="@value"
            SortByLabel="@SortDirection.Ascending"
            Placeholder="Tìm MSSV:"
            OnSelectedItemChanged="OnSearch"
            OnClearSelected="Reload"
            EnableSearch
            AllowClear>
    </Select>
    </Col>
    <Col Offset="1">
    <Button Icon="@IconType.Outline.Reload" OnClick="Reload"></Button>
    </Col>
</Row>
<Row Style="margin-top: 5em;">
    <Col Offset="1">
    <TableView Data="data" Students="_student" />
    </Col>
</Row>
@code {
    private List<Students> _student { set; get; }
    private Students[] data { set; get; }
    private bool visible = false;
    private string value;

    protected override void OnInitialized()
    {
        _student = StudentServices.GetAll();

        data = _student.ToArray();

    }
    private void Reload()
    {
        _student = StudentServices.GetAll();
        data = _student.Where(c => c.IsConfirm == true).ToArray();
    }
    private void OnSearch(string e)
    {
        data = data.Where(c => c.StudentCode == e).ToArray();
    }
    private void ShowModal() => visible = true;

    private void HandleOk(MouseEventArgs e)
    {
        Reload();
        visible = false;
    }

    private void HandleCancel(MouseEventArgs e)
    {
        Reload();
        visible = false;
    }
}