@inject StudentServices studentServices
<Row Style="margin-left:5em">
    <Col />
    <a href='/'>
        <img class="logo" src="/media/vlu-logo.png" />
        <Text Style="color:#fff; font-size:20px;" Strong="true">Ký Túc Xá Văn Lang</Text>
    </a>
    <Col Offset="9" />
    <Menu Mode="MenuMode.Horizontal" Theme="MenuTheme.Dark" Style="background-color: #10294A;" DefaultSelectedKeys=@(new []{ "1" })>
        <MenuItem Key="1" Style="color:#fff" RouterLink="/">Trang chủ</MenuItem>
        <MenuItem Key="2" Style="color:#fff" RouterLink="gioi-thieu">Giới thiệu</MenuItem>
        <MenuItem Key="3" Style="color:#fff">
            <SubMenu Title="Kí túc xá">
                <MenuItem RouterLink="dang-ky">Đăng ký</MenuItem>
                <AuthorizeView Roles="Admin">
                    <Authorized>
                        <MenuItem RouterLink="quan-ly">Quản lý</MenuItem>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView Roles="User">
                    <Authorized>
                        <MenuItem RouterLink="thong-ke">Thống kê</MenuItem>
                    </Authorized>
                </AuthorizeView>
            </SubMenu>
        </MenuItem>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <a href="quan-ly" style="color: #fff">@context.User.Identity.Name</a>
                <a href="Identity/Account/LogOut" style="margin-left:5px">
                    <Button Danger Type="@ButtonType.Primary" Icon="@IconType.Outline.Logout"></Button>
                </a>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="User">
            <Authorized>
                @{
                    var user = studentServices.GetStudentsByEmail(context.User.Identity.Name);
                    <a href="thong-ke" style="color: #fff">@user.FullName</a>
                    <a href="Identity/Account/LogOut" style="margin-left:5px">
                        <Button Danger Type="@ButtonType.Primary" Icon="@IconType.Outline.Logout"></Button>
                    </a>
                }
            </Authorized>

        </AuthorizeView>
        <AuthorizeView>
            <NotAuthorized>
                <MenuItem Style="color:#fff" Class="link-light" RouterLink="Identity/Account/Login">Log in</MenuItem>
            </NotAuthorized>
        </AuthorizeView>
    </Menu>
</Row>